body {
    background-color:#485558;
}
div#logo {
    margin:0 auto;
    width:600px;
}
div#messages {
    margin:0 auto;
    width:600px;
}
div#content {
    margin:0 auto;
    width:400px;
}
label.label {
    float:left;
    padding-right:10px;
    text-align:right;
    width:130px;
}
input.field {
    width:200px;
    opacity: 1.0;
}
div.formItemContainer {
    clear:left;
    opacity: 1.0;
    padding:2px;
}
div.formButtonContainer {
    text-align:center;
    margin-left: 100px;
    opacity: 1.0;
}
p.success {
    font-size:larger;
    text-align:center;
    width:100%;
}
#currentSegmentsTable {

    width: 100%;
    opacity: 1.0;
    padding: 1px 1px;
    margin-top: 5px;
    background-color:#eee;
    border: 2px dotted #fff;
}


div#searchcontainer {
    background-image:url(/media/background.png);
    border:1px solid white;
    height:520px;
    margin:50px auto;
    padding:10px;
    width:820px;
    opacity: 1.0;
}
div#accordionContainer {
    background-color:white;
    height:500px;
    margin:0 410px;
    opacity:0.8;
    padding:10px;
    width:390px;
    border: 0px;
}
h2.searchFormHeader {
    background-color:#DDDDDD;
}
