body {
	background-color:#485558;
}

div#logo {
	margin:0 auto;
	width: 600px
}

div#messages {
	margin:0 auto;
	width: 600px;
}

div#content {
	margin:0 auto;
	width: 400px;
}

label.label {
	float:left;
	width:130px;
	text-align:right;
	text-transform:uppercase;
}

input.field {
	width:200px;
}

div.formItemContainer {
	clear:left;
}

div.formButtonContainer {
	text-align:center;
}

p.success {
	width: 100%;
	text-align:center;
	font-size:larger;
}

div#searchcontainer {
	background-image: url('/media/background.png');
	width: 820px;
	height: 520px;
	margin: 50px auto;
	padding: 40px;
}

div#accordionContainer {
	margin:80px auto;
	width:350px;
	padding:6px;
	background-color:white;
}

h2.searchFormHeader {
	background-color:#DDD;
}

div.travelercontainer {
	width:450px;
	background-color:white;
}

div#searchresult {
	margin: 0 auto;
	width: 650px;
	background-color:white;
}

div#lift__noticesContainer__ {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

div#lift__noticesContainer___error {
	color:white;
	font-weight:bold;
	background-color:red;
}